@{
  Layout = "_Layout";
}

@using ToDoList.Models;
@model ToDoList.Models.Stylist;

<h2>Stylist Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Skills): @Html.DisplayFor(model => model.Skills)</h3>

<ul>
@if (@Model.Clients.Count == 0)
{
  <p>no clients found</p>
}

@foreach (Client client in @Model.Clients)
{
  <li>Name: @client.Name</li>
}
</ul>

<p>@Html.ActionLink("Back to categories", "Index")</p>
<p>@Html.ActionLink("Edit Stylist", "Edit", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId })</p>
