@{
  Layout = "_Layout";
}

@model HairSaloon.Models.Stylist

<h2>Edit</h2>

<h4>Edit this stylist: @Html.DisplayFor(model => model.Skills)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.StylistId)

    @Html.LabelFor(model => model.Skills)
    @Html.EditorFor(model => model.Skills)

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to stylists", "Index")</p>